.card-item__intro{
  font-family: 'PT Sans';
  font-style: normal;
  width: 175px;
  height: 43px;
  left: 20px;
  top: 722px;

  @media (min-width: @tablet-width){
    width: 144px;
    height: 43px;

  }

  @media (min-width: @desktop-width){
    width: 175px;
    height: 43px;

  }
}

.card-item__info{
  font-family: 'PT Sans';
  font-style: normal;
  width: 175px;
  height: 43px;
  left: 20px;
  top: 722px;

  @media (min-width: @tablet-width){
    width: 144px;
    height: 43px;

  }

  @media (min-width: @desktop-width){
    width: 175px;
    height: 43px;

  }
}

.card-item__likes {
  color: #000;
}
