.card-item{

  @media (min-width: @tablet-width){
    width: 50%;

  }
  @media (min-width: @desktop-width){
    width: 33.3333%;


  }
}

.card-item__autor{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 22px 20px 15px;
}

.card-item--panorama{

  @media (min-width: @tablet-width){
    width: 100%;


  }

  @media (min-width: @desktop-width){
    max-width: 100%;


  }
}


.card-item__intro{
  font-family: 'PT Sans';
  font-style: normal;
  width: 175px;



  @media (min-width: @tablet-width){
    width: 144px;


  }

  @media (min-width: @desktop-width){
    width: 175px;


  }
}

.card-item__info{
  font-family: 'PT Sans';
  font-style: normal;
  width: 175px;

  @media (min-width: @tablet-width){
    width: 144px;


  }

  @media (min-width: @desktop-width){
    width: 175px;


  }
}

.card-item__likes {
  color: #000;
}
