.copyright__text{
  width: 89px;
  height: 21px;
  @media (min-width: @tablet-width){
    width: 89px;
    height: 21px;

  }

  @media (min-width: @desktop-width){
    width: 89px;
    height: 21px;

  }
}
