.copyright {
  display: flex;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;


  @media (min-width: @tablet-width){
    padding: 49px;


  }

  @media (min-width: @desktop-width){

  }
}
