.hotel-search{
  text-align: center;
  color: #000;
  width: 262px;
  height: 110px;
  margin: 38px 29px 139px;

  @media (min-width: @tablet-width){
    margin-left: auto;
    margin-right: auto;


  }

  @media (min-width: @desktop-width){

  }


}
.hotel-search__title{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000;


  @media (min-width: @tablet-width){


  }

  @media (min-width: @desktop-width){

  }
}


.hotel-search__discription  {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  margin: auto;
  width: 262px;
  height: 110px;

  @media (min-width: @tablet-width){

  }

  @media (min-width: @desktop-width){

  }
}



.hotel-search a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #fff;
  width: 284px;
  height: 58px;
  margin: 16px 0 49px ;



}
