.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 56px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin top: 18px;

  }


  @media (min-width: @desktop-width){
      display: flex;
      justify-content: space-between;
      height: 56px;

  }
}


.main-nav__list a {
  color: #000;
}

.main-nav__toggle{
    display: none;
  }
