.main-header__logo {
  display: flex;
  width: 185px;
  height: 96px;
  background-color: #5c93da

  @media (min-width: @tablet-width) {
    width: 185px;
    height: 96px;

    }

  @media (min-width: @desktop-width) {
    width: 185px;
    height: 96px;

  }
}

