.map__canvas{
  background: url(map-mobile.jpg);
  width: 320px;
  height: 350px;
  top: 2794px;
  left: 0px;


  @media (min-width: @tablet-width){
    width: 768px;
    height: 350px;
    left: 33px;
    top: 2196px;

  }

  @media (min-width: @desktop-width){
    width: 1200px;
    height: 350px;
    left: 40px;
    top: 2209px;

  }
}
