.page-footer {
  margin: 33px 82px 40px;


  @media (min-width: @tablet-width){
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width){

  }
}

.page-footer__col{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  color: #000;
  text-align: end;
  padding: 30px;

  @media (min-width: @tablet-width){
    padding: 49px;
  }
}
