.page-footer {
  padding: 33px 0 40px;
  margin: 33px 80px 40px;

  @media (min-width: @tablet-width){
    display: flex;
    justify-content: space-between;
    margin: 33px 0px 40px;
  }

  @media (min-width: @desktop-width){

  }
}

.page-footer__col {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  color: #000;
  text-align: end;
  font-size: 21px;
  line-height: 26px;
  margin: 30px;



  @media (min-width: @tablet-width){
    padding: 49px;
  }
}
