.promo {
  background-image: url("../img/mountain.jpg");
  text-align: center;
  background-size: cover;
  width: 901px;
  height: 389px;



  @media (min-width: @tablet-width){
    width: 1200px;
    height: 518px;

  }



  @media (min-width: @desktop-width){
    width: 1200px;
    height: 518px;

  }
}
