.reasons__list{




  @media (min-width: @tablet-width){
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;


  }
}



.reasons__header  {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  text-align: center;




  @media (min-width: @tablet-width){



  }


  @media (min-width: @desktop-width){

  }
}

.reasons__discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #333;
  margin: auto;
  left: auto;
  right: auto;


  @media (min-width: @tablet-width){

  }

  @media (min-width: @desktop-width){


  }
}


.reasons__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;



  @media (min-width: @tablet-width){
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.reasons__text{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;

}

.reasons__row{
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: @tablet-width){
    display: flex;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}
