.reason-picture img {
  width: 520px;
  height: 260px;
  max-width: 100%;

  @media (min-width: @tablet-width){
    width: 521px;
    height: 256px;
    max-width: 100%;
  }

  @media (min-width: @desktop-width){
    width: 800px;
    height: 256px;

  }
}
