.reasons-item {
  background: #81B3D2;
  width: 320px;
  height: 211px;
  margin: 0;
  padding: 0;
  list-style: none;



  @media (min-width: @tablet-width){
    width: 256px;
    height: 256px;
  }

  @media (min-width: @desktop-width){
    width: 400px;
    height: 256px;
  }
}

.reasons-item__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 11px;

  @media (min-width: @tablet-width){


  }

  @media (min-width: @desktop-width){



  }
}

.reasons-item__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.reasons-item__number{
  text-align: center;
  margin: 11px;
}
