.reasons-item {
  background: #81B3D2;
  width: 400px;
  height: 256px;
  left: 40px;
  top: 780px;


}

.reasons-item__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  background: #81B3D2;
  text-align: center;


}


.reasons-item__text {
  font-family: 'PT Sans';
  font-style: normal;
  text-transform: uppercase;
  text-align: center;

}

.reasons-item__number{
  text-align: center;
}
