
.reasons__header  {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  text-align: center;
  width: 284px;
  height: 80px;

  @media (min-width: @tablet-width){
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 520px;
    height: 103px;
  }


  @media (min-width: @desktop-width){
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 484px;
    height: 103px;
  }
}

.reasons__discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #333;
  width: 284px;
  height: 42px;

  @media (min-width: @tablet-width){
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 520px;
    height: 103px;
  }

  @media (min-width: @desktop-width){
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 484px;
    height: 103px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}
