.recommendation{
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width){
    display: flex;
  }
}


.recommendation__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;




  @media (min-width: @tablet-width){
    width: 190px;

  }

  @media (min-width: @desktop-width){
    width: 300px;

  }
}

.recommendation__text{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;




  @media (min-width: @tablet-width){
    width: 190px;

  }

  @media (min-width: @desktop-width){
    width: 300px;

  }
}

.recommendation__icon {
  @media (min-width: @tablet-width){
    width: 33.33%;
  }
}
