.recommendation{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


.recommendation__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;




  @media (min-width: @tablet-width){
    width: 190px;
    height: 113px;
    left: 33px;
    top: 1193px;

  }

  @media (min-width: @desktop-width){
    width: 300px;
    height: 92px;
    left: 40px;
    top: 1205px;

  }
}

.recommendation__text{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;




  @media (min-width: @tablet-width){
    width: 190px;
    height: 113px;
    left: 33px;
    top: 1193px;

  }

  @media (min-width: @desktop-width){
    width: 300px;
    height: 92px;
    left: 40px;
    top: 1205px;

  }
}
