.social {
  display: flex;
  gap: 6px;
  padding: 0px;
  margin: 0 auto;
  justify-content: center;
  list-style: none;

  @media (min-width: @tablet-width){
    padding: 49px;

  }

  @media (min-width: @desktop-width){

  }
}

.social__link {
  width: 48px;
  height: 48px;
  background: #81B3D2;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width){

  }

  @media (min-width: @desktop-width){

  }
}
