.social {
  display: flex;
  list-style: none;

  @media (min-width: @tablet-width){
    padding: 49px;

  }

  @media (min-width: @desktop-width){

  }


}

.social__link {
  width: 48px;
  height: 48px;
  background: #81B3D2;




  @media (min-width: @tablet-width){


  }

  @media (min-width: @desktop-width){

  }
}
