.view-search__title{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: #000;

  @media (min-width: @tablet-width){
    width: 445px;
    height: 121px;
  }

  @media (min-width: @desktop-width){
    width: 445px;
    height: 121px;
  }
}

.view-search__discription{
  font-family: 'PT Sans';
  font-style: normal;
  width: 400;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  size: 21px;
  line-height: 26px;
  color: #333;

  @media (min-width: @tablet-width){
    width: 445px;
    height: 121px;
  }

  @media (min-width: @desktop-width){
    width: 445px;
    height: 121px;
  }
}
