@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}
img {
  max-width: 100%;
}
.card__image {
  width: 280px;
  height: 280px;
  margin: 50px 20px 15px;
}
@media (min-width: 768px) {
  .card__image {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 768px) {
  .card__image--big {
    display: block;
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .card__image--big {
    width: 1200px;
    height: 400px;
    max-width: 100%;
  }
}
body {
  margin: 0;
  font-family: 'PT Sans';
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page__body {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
  }
}
.copyright {
  display: flex;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 37px 0px 40px;
}
@media (min-width: 768px) {
  .copyright {
    padding: 49px;
  }
}
.hotel-search {
  text-align: center;
  color: #000;
  width: 262px;
  height: 110px;
  margin: 38px 29px 139px;
}
@media (min-width: 768px) {
  .hotel-search {
    margin: 60px 167px 230px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    margin-left: auto;
    margin-right: auto;
    margin: 60px 400px 300px;
  }
}
.hotel-search__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}
@media (min-width: 768px) {
  .hotel-search__title {
    font-size: 26px;
    line-height: 21px;
    width: 435px;
    height: 50px;
  }
}
.hotel-search__discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  width: 262px;
  height: 110px;
}
@media (min-width: 768px) {
  .hotel-search__discription {
    font-size: 18px;
    line-height: 21px;
    width: 435px;
  }
}
.hotel-search a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #fff;
  width: 284px;
  height: 58px;
  margin: 16px 0 49px ;
}
@media (min-width: 768px) {
  .hotel-search a {
    margin: 10px 80px 0px;
  }
}
@media (min-width: 1200px) {
  .hotel-search a {
    margin: 40px 80px 0px;
  }
}
.main-header__logo {
  display: table;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .main-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
.main-nav__list a {
  color: #000;
  height: 56px;
  font-size: 17px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .main-nav__list a {
    font-size: 17px;
    line-height: 30px;
  }
}
.main-nav__toggle {
  display: none;
}
.map img {
  margin: 49px 0 41px;
}
@media (min-width: 768px) {
  .map img {
    margin: 10px 0px 10px;
  }
}
.page-footer {
  padding: 33px 0 40px;
  margin: 33px 80px 40px;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    margin: 33px 0px 40px;
  }
}
.page-footer__col {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  color: #000;
  text-align: end;
  font-size: 21px;
  line-height: 26px;
  margin: 30px;
}
@media (min-width: 768px) {
  .page-footer__col {
    padding: 49px;
  }
}
.promo {
  background-image: url("../img/mountain.jpg");
  text-align: center;
  background-size: cover;
  max-width: 100%;
  padding: 40px 0 85px;
}
@media (min-width: 768px) {
  .promo {
    padding: 77px 0 91px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .promo {
    width: 1200px;
    height: 518px;
  }
}
.promo__image {
  width: 282px;
  height: 214px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .promo__image {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .promo__image {
    width: 459px;
    height: 350px;
  }
}
.reason-picture img {
  width: 520px;
  height: 260px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .reason-picture img {
    width: 521px;
    height: 256px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .reason-picture img {
    width: 800px;
    height: 256px;
  }
}
.reasons-item {
  background: #81B3D2;
  width: 320px;
  height: 211px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .reasons-item {
    width: 256px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .reasons-item {
    width: 400px;
    height: 256px;
  }
}
.reasons-item__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 11px;
}
.reasons-item__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.reasons-item__number {
  text-align: center;
  margin: 11px;
}
.reasons__list {
  margin: 32px 0 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.reasons__heading {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-align: center;
  margin: 32px auto 35px;
  width: 284px;
}
@media (min-width: 768px) {
  .reasons__heading {
    font-size: 26px;
    line-height: 21px;
    margin: 47px auto 35;
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .reasons__heading {
    font-size: 26px;
    line-height: 21px;
    width: 520px;
  }
}
.reasons__discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  margin: auto;
  left: auto;
  right: auto;
}
@media (min-width: 768px) {
  .reasons__discription {
    margin: 16px;
    padding: 35px;
    font-size: 21px;
    line-height: 21px;
  }
}
.reasons__row {
  text-align: center;
}
@media (min-width: 768px) {
  .reasons__row {
    width: 33.33%;
  }
}
.reasons__grey {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  list-style: none;
  margin: 24px 26px 66px;
  background-color: #eee;
}
@media (min-width: 768px) {
  .reasons__grey {
    text-align: center;
    text-transform: uppercase;
    margin: 41px 33px;
    width: 189px;
    height: 169px;
  }
}
@media (min-width: 1200px) {
  .reasons__grey {
    width: 300px;
    height: 152px;
    text-align: center;
  }
}
.reasons__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .reasons__title {
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .reasons__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.reasons__number {
  text-align: center;
}
.reasons__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .reasons__text {
    font-size: 18px;
    line-height: 21px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}
.reasons-item {
  padding: 54px 18px 40px;
  color: #fff;
}
.recommendation {
  list-style: none;
}
@media (min-width: 768px) {
  .recommendation {
    display: flex;
    text-align: center;
  }
}
.recommendation__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 20px 55px;
}
@media (min-width: 768px) {
  .recommendation__title {
    font-size: 30px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .recommendation__title {
    width: 300px;
    font-size: 30px;
    line-height: 26px;
  }
}
.recommendation__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .recommendation__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 26px 0 50px;
    margin-left: 0px;
    margin-right: 10px;
  }
}
.recommendation__icon {
  position: relative;
}
@media (min-width: 768px) {
  .recommendation__icon {
    width: 33.33%;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .recommendation__icon {
    width: 380px;
  }
}
.home-icon {
  position: absolute;
  left: 18px;
}
@media (min-width: 768px) {
  .home-icon {
    display: table;
    position: static;
    margin: 0 auto;
    width: 77px;
    height: 72px;
  }
}
.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 67px 55px 22px;
  }
}
@media (min-width: 768px) {
  .card-item {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .card-item {
    width: 33.33%;
  }
}
.card-item__autor {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 22px 20px 15px;
}
@media (min-width: 768px) {
  .card-item__autor {
    background: #F2F2F2;
  }
}
@media (min-width: 768px) {
  .card-item--panorama {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .card-item--panorama {
    max-width: 100%;
  }
}
.card-item__intro {
  font-family: 'PT Sans';
  font-style: normal;
  width: 175px;
}
@media (min-width: 768px) {
  .card-item__intro {
    width: 144px;
  }
}
@media (min-width: 1200px) {
  .card-item__intro {
    width: 175px;
  }
}
.card-item__info {
  font-family: 'PT Sans';
  font-style: normal;
  width: 175px;
}
@media (min-width: 768px) {
  .card-item__info {
    width: 144px;
  }
}
@media (min-width: 1200px) {
  .card-item__info {
    width: 175px;
  }
}
.card-item__likes {
  color: #000;
}
.card-header {
  width: 280px;
  text-align: center;
  margin: 37px 20px 50px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding: 37px 0 50px;
}
@media (min-width: 768px) {
  .card-header {
    margin: 66px 155px 67px;
    width: 458px;
    height: 114px;
    font-size: 21px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
  }
}
.card-header__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  text-align: center;
}
@media (min-width: 1200px) {
  .card-header__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.card-header__discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-family: 400;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333;
}
@media (min-width: 768px) {
  .card-header__discription {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .card-header__discription {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .video__image {
    width: 648px;
    height: 500px;
    margin: 66px 60px 40px;
  }
}
@media (min-width: 1200px) {
  .video__image {
    width: 800px;
    height: 500px;
    margin: 64px 199px 84px;
  }
}
.view-search {
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .view-search {
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 58px 161px 66px;
  }
}
@media (min-width: 1200px) {
  .view-search {
    width: 650px;
    height: 121px;
    margin-left: auto;
    margin-right: auto;
  }
}
.view-search__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}
@media (min-width: 1200px) {
  .view-search__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.view-search__discription {
  font-family: 'PT Sans';
  font-style: normal;
  width: 400;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #333;
}
@media (min-width: 768px) {
  .view-search__discription {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .view-search__discription {
    font-size: 21px;
    line-height: 26px;
  }
}
.form-header {
  margin: 36px 20px 53px;
}
@media (min-width: 768px) {
  .form-header {
    margin: 64px 160px;
  }
}
@media (min-width: 1200px) {
  .form-header {
    margin: 115px 441px 60px;
  }
}
@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    margin: 0px 60px 63px;
    width: 100%;
  }
}
.form__flex {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__flex {
    margin: 63px 60px 48px;
  }
}
@media (min-width: 1200px) {
  .form__flex {
    margin: 0px 100px 50px;
  }
}
.form-header__title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-header__title {
    margin: 64px 70px 40px;
    width: 317px;
    height: 26px;
  }
}
@media (min-width: 1200px) {
  .form-header__title {
    margin: 64px 50px 40px;
    width: 317px;
    height: 26px;
  }
}
.form-header__discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-header__discription {
    width: 445px;
    height: 84px;
    padding: 20px 0px 0px;
  }
}
@media (min-width: 1200px) {
  .form-header__discription {
    width: 445px;
    height: 43px;
  }
}
@media (min-width: 768px) {
  .form-item {
    display: flex;
    flex-direction: row;
  }
  .form-item--introduce {
    flex-direction: column;
  }
  .form-item--contacts {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .form-item__row {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .form-item__row {
    width: 100%;
  }
}
.form-item__label {
  display: table;
  font-size: 16px;
  line-height: 21px;
  width: 37px;
  height: 21px;
}
@media (min-width: 768px) {
  .form-item__label {
    height: 26px;
  }
}
.form-item__field {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  width: 280px;
  height: 58px;
  background: #F2F2F2;
}
@media (min-width: 768px) {
  .form-item__field {
    width: 295px;
    height: 58px;
    margin: 5px;
  }
}
@media (min-width: 1200px) {
  .form-item__field {
    width: 430px;
    height: 58px;
    margin: 15px;
  }
}
.form__submit {
  background-color: #81B3D2;
  width: 384px;
}
.form-item__textarea {
  width: 279px;
  height: 150px;
}
@media (min-width: 768px) {
  .form-item__textarea {
    width: 648px;
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .form-item__textarea {
    width: 748px;
    height: 160px;
  }
}
@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .form__flex {
    text-align: center;
  }
}
.form__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 53px 75px 20px;
}
.form__submit {
  width: 218px;
  height: 58px;
  margin: 56px 50px 3px;
}
.social {
  display: flex;
  gap: 6px;
  padding: 0px;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
}
@media (min-width: 768px) {
  .social {
    padding: 49px;
  }
}
.social__link {
  width: 48px;
  height: 48px;
  background: #81B3D2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    width: 768px;
    height: 256px;
    margin: 30px 0px 61px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    height: 256px;
  }
}
.site-list__item {
  display: flex;
}
@media (min-width: 768px) {
  .site-list__item--forma {
    margin-left: 20%;
  }
}
.site-list__item a {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
